img {
    width: 400px;
    height: 660px;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.intro {
    font-family: fantasy;
    font-size: 60px;
    margin: 25px auto;
    color: red;
} 

   