img {
    width: 400px;
    height: 660px;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.intro {
    font-family: fantasy;
    font-size: 60px;
    margin: 25px auto;
    color: red;
} 

#congratulations {
    color: greenyellow;
    font-size: 80px;
}

@media screen and (max-width: 980px) {
    img {
        width: 200px;
        height: 330px;
    }

}